<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Job Details</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <h1>Job Portal</h1>
      <button onclick="logout()" class="btn">Logout</button>
    </nav>

    <div class="container">
      <h2>Job Details</h2>
      <div id="jobDetailContainer"></div>

      <br />
      <a href="job-list.html" class="btn">Back to Jobs</a>
    </div>

    <script src="script.js"></script>
  </body>
</html>
