{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Available Jobs</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  <nav>
  <div class="nav-content">

    <!-- Centered title -->
    <div class="nav-center">
      <h1>Job Portal System</h1>
    </div>

    <!-- Right side: tagline + welcome + logout -->
    <div class="right-side">
      <!-- <p>Find jobs or hire candidates easily</p> -->

      <div class="user-info">
        <!-- <span>Welcome <strong>{{ user.name }}</strong></span> <br> <br> -->
        <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
      </div>
    </div>

  </div>
</nav>

  <div class="container">
    <h2>Available Jobs</h2>

    <input type="text" id="searchInput" placeholder="Search jobs by company, title or category..."
      style="width: 100%; padding: 12px; margin-bottom: 20px" />

    <div style="display: grid; gap: 20px">

      {% for job in jobs %}
      <div class="card">
        <h3>{{ job.job_title }}</h3>
        <p><strong>Company:</strong> {{ job.company_name }}</p>
        <p><strong>Skills:</strong> {{ job.skills_required }}</p>

        <a href="{% url 'job-details' job.id %}" class="btn">View Details</a>
      </div>
      {% empty %}
      <p>No jobs available right now.</p>
      {% endfor %}

    </div>
    <br />
    <a href="{% url 'jobseeker-dashboard' %}" class="btn">Back to Dashboard</a>
  </div>

</body>

</html>