{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Job Seeker Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body> 
  
<nav>
  <div class="nav-content">

    <!-- Centered title -->
    <div class="nav-center">
      <h1>Job Portal System</h1>
    </div>

    <!-- Right side: tagline + welcome + logout -->
    <div class="right-side">
      <!-- <p>You can find your dream job</p> -->

      <div class="user-info">
        <span>Welcome, <strong>{{ user.name }}</strong></span> <br>
        <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
      </div>
    </div>

  </div>
</nav>

 

<div class="container">
  <h2>Find Your Dream Job</h2>

  <!-- Search box (optional) -->
  <input
    type="text"
    placeholder="Search jobs..."
  />

  <br><br>

  <!-- JOB LIST START -->
  <div id="jobListContainer">

    {% for job in jobs %}
      <div class="job-card">

        <h3>{{ job.job_title }}</h3>

        <p><strong>Company:</strong> {{ job.company_name }}</p>

        <p><strong>Skills Required:</strong> {{ job.skills_required }}</p>

        <p>{{ job.job_description|truncatewords:20 }}</p>

        <a href="{% url 'job_detail' job.id %}" class="btn">
          View Details
        </a>

      </div>
    {% empty %}
        <p>No jobs available right now.</p>
    {% endfor %}

  </div>
  <!-- JOB LIST END -->

  <br><br>
  <a href="{% url 'home' %}" class="btn">Back to Home</a>

</div>

</body>
</html>
