{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Job Seeker Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
  </head>
  <body>
    <nav>
  <div class="nav-content">
    <h1>{% if user.is_recruiter %}Recruiter{% else %}Job Seeker{% endif %} Dashboard</h1>
    
    <div class="user-info">
      <span>Welcome, <strong>{{ user.name }}</strong></span>
      <a href="{% url 'logout' %}" class="btn logout-btn">Logout</a>
    </div>
  </div>
</nav>

    <div class="container">
      <h2>Find Your Dream Job</h2>

      <input
        type="text"
        id="searchInput"
        placeholder="Search by company, title, role..."
      />

      <div id="jobListContainer"></div>

      <br /><br />
      
      <a href="{% url 'home' %}" class="btn">Back to Home</a>
       
    </div>

    <script src="script.js"></script>
    <script>
      const user = getCurrentUser();
      if (user) document.getElementById("userName").textContent = user.name;
    </script>
  </body>
</html>
