{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Job Portal</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
   
    <nav>
      <h1>Job Portal System</h1>
    </nav>
  
    <div class="container">
      <h2>Login</h2>

      <form id="loginForm" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label>Email</label>
        <input type="email" id="loginEmail" required />

        <label>Password</label>
        <input type="password" id="loginPassword" required />

        <button type="submit">Login</button>
      </form>

      <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>

    <script src="script.js"></script>
  </body>
</html>
