{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruiter Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <nav>
      <div class="nav-content">
        <!-- Centered title -->
        <div class="nav-center">
          <h1>Job Portal System</h1>
        </div>

        <!-- Right side: tagline + welcome + logout -->
        <div class="right-side">
          <!-- <p>Find jobs or hire candidates easily</p> -->

          <div class="user-info">
            {% if request.session.user_email and request.session.user_type == "recruiter" %}
            <span>Welcome, <strong>{{ request.session.user_email }}</strong></span>
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="logout-btn">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <ul class="dashboard-menu">
        <li><a href="{% url 'post_job' %}" class="big-btn">Post New Job</a></li>
        <br />
        <br />
        <li>
          <a href="{% url 'view_applicants' %}" class="big-btn"
            >View Applicants</a
          >
        </li>
      </ul>

      <br />
      <a href="{% url 'home' %}" class="btn">Back to Home</a>
    </div>

    <script src="script.js"></script>
  </body>
</html>
